In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

In [3]:
df = pd.read_csv('odev_tenis.csv')

In [4]:
df.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85  False   no
1     sunny           80        90   True   no
2  overcast           83        86  False  yes
3     rainy           70        96  False  yes
4     rainy           68        80  False  yes

In [5]:
#Encoding
from sklearn.preprocessing import LabelEncoder
#play = df.iloc[:,-1:].values
#windy = df.iloc[:,-2:-1].values
le = LabelEncoder()
#play[:,0] = le.fit_transform(play[:,0])
#windy = le.fit_transform(windy[:,0])
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categories='auto', sparse=True)

In [6]:
df2 = df.apply(LabelEncoder().fit_transform)

outlook = df.iloc[:,0:1]
outlook = ohe.fit_transform(outlook).toarray()
outlook_df = pd.DataFrame(data= outlook, index = range(14),columns=['o','r','s'])
final_data = pd.concat([outlook_df,df.iloc[:,1:3]],axis=1)
final_data = pd.concat([final_data,df2.iloc[:,-2:]],axis=1)
final_data

      o    r    s  temperature  humidity  windy  play
0   0.0  0.0  1.0           85        85      0     0
1   0.0  0.0  1.0           80        90      1     0
2   1.0  0.0  0.0           83        86      0     1
3   0.0  1.0  0.0           70        96      0     1
4   0.0  1.0  0.0           68        80      0     1
5   0.0  1.0  0.0           65        70      1     0
6   1.0  0.0  0.0           64        65      1     1
7   0.0  0.0  1.0           72        95      0     0
8   0.0  0.0  1.0           69        70      0     1
9   0.0  1.0  0.0           75        80      0     1
10  0.0  0.0  1.0           75        70      1     1
11  1.0  0.0  0.0           72        90      1     1
12  1.0  0.0  0.0           81        75      0     1
13  0.0  1.0  0.0           71        91      1     0

In [7]:
df2

    outlook  temperature  humidity  windy  play
0         2           11         4      0     0
1         2            8         6      1     0
2         0           10         5      0     1
3         1            4         9      0     1
4         1            2         3      0     1
5         1            1         1      1     0
6         0            0         0      1     1
7         2            6         8      0     0
8         2            3         1      0     1
9         1            7         3      0     1
10        2            7         1      1     1
11        0            6         6      1     1
12        0            9         2      0     1
13        1            5         7      1     0

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(final_data.iloc[:,:-1],final_data.iloc[:,-1:],test_size=0.33,random_state=0)

In [16]:
df_backward

      o    r    s  temperature  humidity  windy
0   0.0  0.0  1.0           85        85      0
1   0.0  0.0  1.0           80        90      1
2   1.0  0.0  0.0           83        86      0
3   0.0  1.0  0.0           70        96      0
4   0.0  1.0  0.0           68        80      0
5   0.0  1.0  0.0           65        70      1
6   1.0  0.0  0.0           64        65      1
7   0.0  0.0  1.0           72        95      0
8   0.0  0.0  1.0           69        70      0
9   0.0  1.0  0.0           75        80      0
10  0.0  0.0  1.0           75        70      1
11  1.0  0.0  0.0           72        90      1
12  1.0  0.0  0.0           81        75      0
13  0.0  1.0  0.0           71        91      1

In [17]:
#backward elemination
import statsmodels.api as sm
df_backward = final_data.iloc[:,:-1]
X= np.append(arr = np.ones((14,1)).astype(int),values=df_backward,axis=1)
X_l = df_backward.iloc[:,[0,1,2,3,4,5]].values
r_ols = sm.OLS(endog = df_backward.iloc[:,-1:] ,exog = X_l) 
r = r_ols.fit()
r.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  windy   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.055e+27
Date:                Sat, 04 Apr 2020   Prob (F-statistic):          1.41e-110
Time:                        18:36:03   Log-Likelihood:                 436.49
No. Observations:                  14   AIC:                            -861.0
Df Residuals:                       8   BIC:                            -857.1
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          1.332e-15   3.76e-14      0.035      0.973   -8.55e-14    8.81e-14
x2          1.332e-15   3.55e-14      0.038      0.971   -8.06e-14    8.32e-14
x3          1.554e-15    3.8e-14      0.041      0.968   -8.61e-14    8.92e-14
x4         -1.214e-16    5.1e-16     -0.238      0.818    -1.3e-15    1.05e-15
x5          6.072e-18   2.78e-16      0.022      0.983   -6.35e-16    6.47e-16
x6             1.0000   5.42e-15   1.84e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                        1.135   Durbin-Watson:                   0.015
Prob(Omnibus):                  0.567   Jarque-Bera (JB):                0.942
Skew:                           0.443   Prob(JB):                        0.624
Kurtosis:                       2.089   Cond. No.                     2.86e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.86e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
prediction_play = lr.predict(x_test)

In [11]:
final_data.iloc[:,:-1]

      o    r    s  temperature  humidity  windy
0   0.0  0.0  1.0           85        85      0
1   0.0  0.0  1.0           80        90      1
2   1.0  0.0  0.0           83        86      0
3   0.0  1.0  0.0           70        96      0
4   0.0  1.0  0.0           68        80      0
5   0.0  1.0  0.0           65        70      1
6   1.0  0.0  0.0           64        65      1
7   0.0  0.0  1.0           72        95      0
8   0.0  0.0  1.0           69        70      0
9   0.0  1.0  0.0           75        80      0
10  0.0  0.0  1.0           75        70      1
11  1.0  0.0  0.0           72        90      1
12  1.0  0.0  0.0           81        75      0
13  0.0  1.0  0.0           71        91      1